.search-container {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* padding: 3px; */
    /* padding-right: 8px; */
    padding-left: 8px;
    margin-bottom: 5px;
    height: 30px;
}

